/* 
    Document   : pizza_shop.css
    Author     : ValentinoGahide
    Description:
        Purpose of the stylesheet follows.
*/

@charset "utf-8";
/* 
CSS voor Pizzashop
*/
/*algemeen*/
body {
    overflow: hidden;
}
header, footer {
    background: black;
    color: white;
}
a:hover{
    text-decoration: none;
}
/*navbar*/
.navbar-brand {                 /* textlogo mooi plaatsen */
    padding-top: 10px; 
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: red;
}
.row {
    margin: 2em -1em;
}
/*aside*/
.form {
    margin-bottom: 1em;
    padding: 2em;
    background: #990000;
    color: white;
    border: 2px solid white;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
}
.form_otherpage {
    margin-bottom: 2em;
    padding: 0.5em;
    background: #990000;
    color: white;
    border: 2px solid white;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
}
#registerbtn {
    margin-top: 1em;
    margin-right: 0.1em;
}
strong {
    font-size: 1.5em;
}
#logo {
    width: 95%;
    margin-bottom: 1em;
}
/*section*/
/*carousel*/
.carousel {
    border: 3px solid black;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
}
/*uitleg*/
#uitleg {
    margin-top: 1em;
}

