/*WEBSHOP CSS*/

/*algemeen*/


/*header*/
.registreren {
    float:right;
}
.aanmelden {
    float: right;
}
.aanmelden input {
    float: left;
}
em {
    float: right;
    margin-right: 2em;
}
.error {
    color: red;
}

/*inhoud*/
