/*WEBSHOP CSS*/

/**algemeen**/

em {
    float: right;
    margin-right: 2em;
}

/**loginform**/

#registreren {
    float: right;
}
#aanmelden {
    float: right;
}
.login-form {
    float: right;
}
.login-form form input {
    float: left;
}

/**registrationform**/


/**grid**/

